// import
@import 'src/styles/_vars.scss';

.steps {
  background-color: #f2f2f2;
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  font-size: 1.1em;
  text-align: left;

  .step{
    line-height: 2;

    &::before{
      content: "\002014";
      color: $mainColor;
      margin-right: .5rem;
    }
  }
}